@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1{
    @apply text-xl;
  }
  
  h2 {
    @apply text-lg;
  }
  p{
    @apply py-2
  }
}
p{
  font-family: "monospace";
  font-size: 20px
}
html {
  background-color:  #3C3836;
  color: white;
  font-family: monospace;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.fade-in-image{
  animation: fadeIn 2s;
}

.fade-in-card{
  animation: fadeInC 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInC {
  0% { opacity: 0; }
  100% { opacity: 0.7; }
}