---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Carousel from "../components/Carousel";
import Panorama from "../components/Panorama";
---

<Layout title="Home">
  <div class="grid grid-rows-3">
    <Navbar />
    <Panorama />
    <Carousel />
  </div>
</Layout>
