---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";

const posts = await Astro.glob("../pages/posts/*.md");
---

<Layout title="Posts">
  <Navbar />
  <div class="grid grid-cols-3">
    {
      posts.slice(0, 4).map((post) => (
        <a href={"/blog/posts/" + post.frontmatter.slug}>
          <Card
            title={post.frontmatter.title}
            desc={post.frontmatter.description}
            img={post.frontmatter.image.url}
            date={post.frontmatter.pubDate}
          />
        </a>
      ))
    }
  </div>
</Layout>
