---
import { Image } from "astro:assets";
const { title, desc, img, date } = Astro.props;
---

<div
  class="border m-2 rounded p-4 border-bodcol transition opacity-70 hover:opacity-100 fade-in-card"
>
  <div class="flex justify-center">
    <Image src={img} alt="test" width="500" height="600" />
  </div>
  <h1 class="card-title font-bold">{title}</h1>
  <h2>Published on {date}</h2>
  <p class="card-text">{desc}</p>
</div>
