---
import { Image } from "astro:assets";
const { title, desc, img, date } = Astro.props;
---

<div
  class="m-2 rounded-xl p-4 transition opacity-70 hover:opacity-100 fade-in-card"
>
  <Image
    class="flex justify-center object-cover w-full h-40v rounded-xl mb-3"
    src={img}
    alt="test"
    width="500"
    height="600"
  />
  <h1 class="card-title font-bold">{title}</h1>
  <h2>Published on {date}</h2>
  <p class="card-text">{desc}</p>
</div>
