---
const { frontmatter } = Astro.props;
import Navbar from "../components/Navbar";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <Navbar />
  <h1 class="flex text-4xl items-center justify-center">{frontmatter.title}</h1>
  <img src={frontmatter.image.url} />
  <div class="Post">
    <slot />
  </div>

  <style is:global>
    html {
      background-color: #0f121a;
      color: white;
    }

    .Post {
      margin: 40px;
    }
  </style>

</html>
