---
const { frontmatter } = Astro.props;
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
console.log(frontmatter.image.url);
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <Navbar />
  <div class="flex items-center justify-center flex-col">
    <h1 class="text-4xl p-4">{frontmatter.title}</h1>
    <Image src={frontmatter.image.url} alt="test" width="1000" height="667" />
  </div>
  <div class="Post px-60">
    <slot />
  </div>


</html>
